h1 {
  font-weight: 500;
}
span {
  font-size: 35px;
  font-weight: 900;
}
table {
  width: 50%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
th {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 25px;
}
tr {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
